name: TUF-on-CI repository tests

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '17 4,10,16,22 * * *'
  pull_request:
    paths: ['.github/workflows/*']

permissions: {}

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Smoke test TUF-on-CI repository with a TUF client
        uses: theupdateframework/tuf-on-ci/actions/test-repository@main
        with:
          # when workflow is reused in publish.yml, do not require future validity
          valid_days:  ${{ github.event_name == 'workflow_call' && 0 || 3 }}
          offline_valid_days: ${{ github.event_name == 'workflow_call' && 0 || 16 }}

  update-issue:
    runs-on: ubuntu-latest
    needs: [smoke-test]
    # During workflow_call, caller updates issue
    if: always() && !cancelled() && github.workflow == 'TUF-on-CI repository tests'
    permissions:
      issues: 'write' # for modifying Issues
    steps:
      - name: Update the issue for the workflow
        uses: theupdateframework/tuf-on-ci/actions/update-issue@main
        with:
          token: ${{ secrets.TUF_ON_CI_TOKEN || secrets.GITHUB_TOKEN }}
          success: ${{ !contains(needs.*.result, 'failure') }}
